.container{
    background-color: blueviolet;
    width:40vw;
    height:30vh;
}
.box{
    background-color: white;
    border: 5px solid black;
    width: 5vw;
    height: 4vh;
    transition: transform 4s ease-in-out 2s;
}
.box:hover{
    transform: translateX(10vw) translateY(10vh);
}